<div class="d-flex flex-row h-100">
  <app-sidebar></app-sidebar>
  <div class="w-100 d-flex flex-column ">
    <app-navbar></app-navbar>
    <div class="container-fluid bg-light w-100 h-100">
      <div class="row h-100 max-h-100 mt-2">
        <div class="col-sm-12 col-4 w-25 mb-5 pb-3">
          <div
            id="wrapper"
            class="
              h-100
              max-h-100
              mt-2
              px-4
              py-4
              shadow-sm
              d-flex
              flex-column
              justify-content-between
            "
          >
            <h5 class="text-uppercase fw-bold mb-3">
              información del contacto
            </h5>
            <div class="w-100 text-center mb-3">
              <span class="fw-bold">Dirección</span>
              <h6>Carrera 52 # 91-66</h6>
              <h6>Medellín Colombia</h6>
            </div>
            <div class="w-100 text-center mb-3">
              <span class="fw-bold">Correo electrónico</span>
              <h6>usuarioapellido@hotmail.com</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold">Sitio Web</span>
              <h6 class="text-info">www.usuarioapellido.com</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold">Red social</span>
              <h6 class="text-info">www.instagram.com/usuarioapellido</h6>
              <h6 class="text-info">www.linkeind.com/usuarioapellido</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold"
                >Dirección de correspondencia de correo</span
              >
              <h6>Carrera 52 # 91-66</h6>
              <h6>Envigado Colombia</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold">Número de teléfonos</span>
              <h6>Fijo</h6>
              <h6>+57 (4) 313-70-00</h6>
              <h6>Celular</h6>
              <h6>(312) 313-44-77</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-8 w-75">
          <div class="row px-2 gx-5 max-h-50">
            <div class="col w-50 max-w-50 max-h-100 shadow-sm h-100" id="wrapper">
              <div id="carouselExampleControls" class="carousel slide h-75" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://via.placeholder.com/100" height="300" width="auto" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://via.placeholder.com/100" height="300" width="auto" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://via.placeholder.com/100" height="300" width="auto" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span aria-hidden="true">
                    <i class="bi bi-chevron-left text-dark fs-1"></i>
                  </span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span aria-hidden="true">
                    <span aria-hidden="true">
                      <i class="bi bi-chevron-right text-dark fs-1"></i>
                    </span>
                  </span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row gx-5 p-2 max-h-50">
            <div id="wrapper" class="col shadow-sm overflow-auto pt-3 mb-3">
              <div class="row">
                <app-article-item class="col-3 d-flex flex-column justify-content-center align-items-center" *ngFor="let article of articles" [articulo]="article" ></app-article-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="/assets/logo.png"
      width="150"
      height="auto"
      alt="logo"
      class="position-absolute bottom-0 start-50 translate-middle-x"
    />
  </div>
</div>
