<div class="d-flex flex-row h-100">
  <app-sidebar></app-sidebar>
  <div class="w-100 d-flex flex-column">
    <app-navbar></app-navbar>
    <div class="container-fluid w-100 h-100 bg-light">
      <div class="row h-100">
        <div class="col-sm-12 col-4 w-50">
          <div
            id="wrapper"
            class="
              h-75
              max-h-100
              mt-2
              px-4
              py-4
              shadow-sm
              d-flex
              flex-column
              justify-items-center
            "
          >
            <h5 class="text-uppercase fw-bold mb-3">
              información de la empresa
            </h5>
            <div class="w-100 text-center mb-3">
              <span class="fw-bold">Nombre</span>
              <h5>Quipux S.A.S</h5>
            </div>
            <div class="w-100 text-center mb-3">
              <span class="fw-bold">Fecha de creacion</span>
              <h6>1995/05/06</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold">Dirección</span>
              <h6>Carrera 43A No.3.Sur-130</h6>
              <h6>Ed. Milla de oro</h6>
              <h6>Distrito de negocios Torre 1</h6>
              <h6>Piso 12</h6>
            </div>
            <div class="w-100 text-center py-4">Medellín - Colombia</div>
            <div class="w-100 text-center">
              <span class="fw-bold">Número de teléfonos</span>
              <h6>Fijo</h6>
              <h6>+57 (4) 313-70-00</h6>
              <h6>Fax</h6>
              <h6>+57 (4) 313-44-77</h6>
            </div>
            <div class="w-100 text-center">
              <span class="fw-bold">Sitio Web</span>
              <br />
              <a href="https://www.quipux.com/site">www.quipux.com/site</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-8 w-50">
          <div
            id="wrapper"
            class="
              h-75
              max-h-100
              mt-2
              px-4
              py-4
              shadow-sm
              d-flex
              flex-column
              justify-items-center
            "
          >
            <h5 class="text-uppercase fw-bold mb-5">
              información del contacto
            </h5>
            <div class="row">
              <div class="col d-flex flex-column justify-content-strech align-items-strech position-relative" id="middleLine-information">
                <div class="w-100 text-center mb-5">
                  <span class="fw-bold">Dirección</span>
                  <h6>Carrera 52 # 91-66</h6>
                  <h6>Medellín Colombia</h6>
                </div>
                <div class="w-100 text-center mb-5">
                  <span class="fw-bold">Correo electrónico</span>
                  <h6>usuarioapellido@gmail.com</h6>
                </div>
                <div class="w-100 text-center mb-5">
                  <span class="fw-bold">Sitio Web</span>
                  <h6>www.usuarioapellido.com</h6>
                </div>
                <div class="w-100 text-center mb-5">
                  <span class="fw-bold">Red social</span>
                  <h6>www.instagram.com/usuarioapellido</h6>
                  <h6>www.linkedin.com/usuarioapellido</h6>
                </div>
              </div>
              <div class="col">
                <div class="w-100 text-center mb-5">
                  <span class="fw-bold">Dirección de correspondencia de correo</span>
                  <h6>Carrera 52 # 91-66</h6>
                  <h6>Envigado Colombia</h6>
                </div>
                <div class="w-100 text-center">
                  <span class="fw-bold">Número de teléfonos</span>
                  <h6>Fijo</h6>
                  <h6>+57 (4) 313-70-00</h6>
                  <h6>Celular</h6>
                  <h6>(312) 313-44-77</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="/assets/logo.png"
      width="150"
      height="auto"
      alt="logo"
      class="position-absolute bottom-0 start-50 translate-middle-x"
    />
  </div>
</div>
