/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --active-link: #10B981;
  --gray-500: #6B7280;
  --blue-900: #1E3A8A;
}